<h1>Products</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - products 1</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, atque aliquid architecto, autem cumque sit inventore voluptas ratione omnis, nostrum consequatur alias asperiores earum sapiente culpa! Ipsam voluptatum corrupti quas?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - product 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, atque aliquid architecto, autem cumque sit inventore voluptas ratione omnis, nostrum consequatur alias asperiores earum sapiente culpa! Ipsam voluptatum corrupti quas?
    </div>
</div>
